AuthType Basic
AuthName "Password Protected Area"
AuthUserFile /home/cvlcondoxg/app/.htpasswd
Require valid-user

RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^/?(.*) https://%{SERVER_NAME}/$1 [R,L]
#RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI}

RewriteCond %{REQUEST_URI} /cgu
RewriteRule ^/cgu /cgu.html

RewriteRule (posts|events|cvl|transport|maps|canteen|mentions)$ $1/
RewriteRule ^(.+)\/$ index.php?module=$1 [L]

RewriteRule ^posts\/(\d+)$  /index.php?module=posts&id=$1 [L]
RewriteRule ^posts\/(\w+)$ /index.php?module=posts&search=$1 [L]
RewriteRule ^events\/(\d+)$ /index.php?module=events&key=$1 [L]
RewriteRule ^maps\/location\/(\d?[A-Z]{3})$ /index.php?module=maps&map=$1 [L]
RewriteRule ^maps\/([a-zA-Z0-9]+)$ /index.php?module=maps&place=$1 [L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ / [R,L]

RewriteCond %{HTTP_REFERER} !^https://(www\.)?app\.cvlcondorcet\.fr [NC] 
RewriteCond %{HTTP_REFERER} !^https://(www\.)?app\.cvlcondorcet\.fr.*$ [NC] 
RewriteRule \.(gif|png|js|css|svg|jpg|jpeg)$ - [F]

Options -Indexes

ErrorDocument 403 /403.php
ErrorDocument 404 /404.php
ErrorDocument 500 /505.php